{% extends "ProyectoPyFlixApp/base.html" %}

{% load static %}

{% block content %}


<div> <p></p></div>

<div class="container text-center" style="margin-top: 40px;">

    <form method="post" action="{% url 'generar_grafica_pelis_y_series_vistas' %}">
        {% csrf_token %}
        <button type="submit" class="btn btn-outline-info">Nº Películas y Series Vistas</button>
    </form>

    {% if grafica_generada_2 %}
    <div style="text-align: center; margin-bottom: 20px;">
        <div style="display: inline-block;">
        {{ grafica_vistas_html | safe }}
        </div>
    </div>
    {% endif %}


    <form method="post" action="{% url 'generar_grafica' %}">
        {% csrf_token %}
        <button type="submit" class="btn btn-outline-info">Tiempo Empleado Vistas</button>
    </form>

    {% if grafica_generada %}
    <div style="text-align: center; margin-bottom: 20px;">
        <div style="display: inline-block;">
        {{ imagen_grafica | safe }}
        </div>
    </div>
    {% endif %}


    <form method="post" action="{% url 'generar_grafica_categoria' %}">
        {% csrf_token %}
        <button type="submit" class="btn btn-outline-info">Categorías Vistas</button>
    </form>

    {% if grafica_generada_3 %}
    <div class="center-image">
        <div style="display: inline-block; text-align: center; margin-right: 20px;">
            {{ categoria_pelis | safe }}
        </div>
        <div style="display: inline-block; text-align: center;">
            {{ categoria_series | safe }}
        </div>
    </div>
    {% endif %}


</div>


{% endblock %}