{% extends "ProyectoPyFlixApp/base.html" %}

{% load static %}

{% block content %}


  {% if lista_peliculas or lista_series %}

   {% for pelicula in lista_peliculas %}


   <section class="page-section clearfix">
    <div class="container">
      <div class="intro3">
        <img class="intro-img3 img-fluid mb-3 mb-lg-0 rounded" src="{{pelicula.imagen.url}}" alt="" style="width: 30%">
        <div class="intro-text3 text-center bg-faded p-5 rounded">
          <h2 class="section-heading mb-4" >
            <span class="section-heading-upper">Director: {{pelicula.director}}</span>
            <span class="section-heading-lower">{{pelicula.titulo}}</span>
          </h2>
          <p class="mb-3" style="font-size: 15px;">{{pelicula.argumento}}
          </p>

            <div class="movie-details-and-buttons">
                <p class="movie-details">
                    <span class="detail-item">Género: {{ pelicula.categoria }} | </span>
                    <span class="detail-item">Año: {{ pelicula.anio_estreno }} | </span>
                    <span class="detail-item">Duración: {{ pelicula.duracion }} min.</span>
                </p>

                <div class="button-form d-flex justify-content-center">
                    <form method="post" action="{% url 'vistas:cambiar_pelicula_vista' pelicula.id %}">
                        {% csrf_token %}
                        <button type="submit" id="vista-btn-pelicula{{ pelicula.id }}" class="btn {% if pelicula.vista %}btn-success{% else %}btn-outline-success{% endif %} mr-2">Vista</button>
                    </form>
                    <form method="post" action="{% url 'vistas:cambiar_pelicula_favorito' pelicula.id %}">
                        {% csrf_token %}
                        <button type="submit" id="favorito-btn-pelicula{{ pelicula.id }}" class="btn {% if pelicula.favorito %}btn-danger{% else %}btn-outline-danger{% endif %} ml-2 mr-2">Favorito</button>
                    </form>
                    <a href="{{pelicula.enlace}}" target="_blank">
                        <button type="button" class="btn btn-outline-info ml-2">Play</button>
                    </a>
                </div>
            </div>

        </div>
      </div>
    </div>
  </section>


    {% endfor%}

 {% for serie in lista_series %}


   <section class="page-section clearfix">
    <div class="container">
      <div class="intro3">
        <img class="intro-img3 img-fluid mb-3 mb-lg-0 rounded" src="{{serie.imagen.url}}" alt="" style="width: 30%">
        <div class="intro-text3 text-center bg-faded p-5 rounded">
          <h2 class="section-heading mb-4" >
            <span class="section-heading-upper">Creador: {{serie.creador}}</span>
            <span class="section-heading-lower">{{serie.titulo}}</span>
            <span class="section-heading-upper">Temporadas: {{serie.num_temporadas}} | Capítulos: {{serie.num_capitulos}}</span>

          </h2>
          <p class="mb-3" style="font-size: 15px;">{{serie.argumento}}
          </p>

            <div class="movie-details-and-buttons">
                <p class="movie-details">
                    <span class="detail-item">Género: {{ serie.categoria }} | </span>
                    <span class="detail-item">Año: {{ serie.anio_estreno }} | </span>
                    <span class="detail-item">Duración Capítulo: {{ serie.duracion }} min.</span>
                </p>

                <div class="button-form d-flex justify-content-center">
                    <form method="post" action="{% url 'vistas:cambiar_serie_vista' serie.id %}">
                        {% csrf_token %}
                        <button type="submit" id="vista-btn-serie{{ serie.id }}" class="btn {% if serie.vista %}btn-success{% else %}btn-outline-success{% endif %} mr-2">Vista</button>
                    </form>
                    <form method="post" action="{% url 'vistas:cambiar_serie_favorito' serie.id %}">
                        {% csrf_token %}
                        <button type="submit" id="favorito-btn-serie{{ serie.id }}" class="btn {% if serie.favorito %}btn-danger{% else %}btn-outline-danger{% endif %} ml-2 mr-2">Favorito</button>
                    </form>
                    <a href="{{serie.enlace}}" target="_blank">
                        <button type="button" class="btn btn-outline-info ml-2">Play</button>
                    </a>
                </div>
            </div>

        </div>
      </div>
    </div>
  </section>


  {% endfor%}

 {% else %}
    <!-- Si no hay películas ni series, muestra una imagen alternativa -->
    <div  class="text-center">
    <img src="{% static 'ProyectoPyFlixApp/img/palomitas.png' %}" alt="">
    </div>
    <h2 class="section-heading mb-4 text-center"  >
        <span class="section-heading-lower" style="font-size: 30px;">Aun no tienes películas ni series vistas...</span>
    </h2>
  {% endif %}

{% endblock %}